@use "../../base/responsive" as responsive;

.room-suits-section {
  background-color: white;
  padding: 4rem 9rem;
  width: 100%;

  @include responsive.respond(smallPhone) {
    padding: 2rem;
  }

  @include responsive.respond(phone) {
    padding: 2rem;
  }

  @include responsive.respond(tablets) {
    padding: 2rem;
  }

  @include responsive.respond(bigTablets) {
    padding: 4rem;
  }
}

.room-suits-container {
  background-color: #f5f5f5;
  padding: 3rem 0;
  width: 100%;

  @include responsive.respond(smallPhone) {
    padding: 2rem 0;
  }
  .room-suits-content {
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 8rem;
    padding: 0 3rem;

    @include responsive.respond(smallPhone) {
      flex-direction: column;
      padding: 0 0.1rem;
      gap: 0rem;
    }

    @include responsive.respond(phone) {
      flex-direction: column;
      padding: 0 0.1rem;
      gap: 0rem;
    }

    @include responsive.respond(tablets) {
      flex-direction: column;
      padding: 0 0.1rem;
      gap: 2rem;
    }

    .room-suits-image {
      flex: 1;

      img {
        width: 100%;
        height: 30rem;
        object-fit: cover;

        @include responsive.respond(smallPhone) {
          height: 13rem;
        }

        @include responsive.respond(phone) {
          height: 13rem;
        }

        @include responsive.respond(tablets) {
          height: fit-content;
        }

        @include responsive.respond(bigTablets) {
          height: fit-content;
        }
      }
    }

    .room-suits-text {
      flex: 1.1;
      padding: 2rem;
      width: 50%;
      @include responsive.respond(smallPhone) {
        width: 100%;
        padding: 1;
      }

      @include responsive.respond(phone) {
        width: 100%;
        padding: 1;
      }

      @include responsive.respond(tablets) {
        width: 100%;
        padding: 1;
      }

      .stay-with-us {
        font-size: 1.5rem;
        color: #0a8046;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 700;

        @include responsive.respond(smallPhone) {
          font-size: 1.2rem;
        }
      }

      .room-suits-heading {
        font-size: 4rem;
        margin: 1rem 0;
        color: #0a8046;

        @include responsive.respond(smallPhone) {
          font-size: 2rem;
          margin: 0.3rem 0 1rem 0;
        }
      }

      .room-suits-description {
        font-size: 1.2rem;
        line-height: 1.6;
        color: #000;
        margin-bottom: 2rem;
        font-weight: 600;

        @include responsive.respond(smallPhone) {
          font-size: 1.1rem;
        }
      }

      .room-suits-buttons {
        display: flex;
        gap: 1rem;

        button,
        a {
          padding: 0.8rem 1.5rem;
          border: none;
          border-radius: 4px;
          font-size: 1rem;
          cursor: pointer;
          transition: all 0.3s ease;

          @include responsive.respond(smallPhone) {
            padding: 0.5rem 1rem;
            font-size: 0.8rem;
          }

          @include responsive.respond(phone) {
            padding: 0.5rem 1rem;
            font-size: 0.8rem;
          }

          &.book-now-btn {
            background-color: transparent;
            border: 2px solid #ca8e1e;
            color: #333;

            &:hover {
              background-color: #ca8e1e;
              color: #fff;
            }
          }

          &.learn-more-btn {
            background-color: transparent;
            border: 2px solid #0a8046;
            color: #333;

            &:hover {
              background-color: #ca8e1e;
              color: white;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .room-suits-content {
    flex-direction: column;

    .room-suits-text {
      text-align: center;

      .room-suits-buttons {
        justify-content: center;
      }
    }
  }
}
