@use "../../base/responsive" as responsive;

.about-us-container {
  @include responsive.respond(smallPhone) {
  }

  &__header {
    text-align: left;
    margin-bottom: 3rem;
    padding: 4rem 9rem;
    color: #fff;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.12px;
    background: linear-gradient(to right, #0c9451, #0e5c36);

    @include responsive.respond(smallPhone) {
      padding: 2rem;
      font-size: 0.8rem;
      margin-bottom: 0rem;
    }

    @include responsive.respond(phone) {
      padding: 2rem;
      font-size: 0.8rem;
      margin-bottom: 0rem;
    }

    @include responsive.respond(tablets) {
      padding: 2rem;
      font-size: 1.5rem;
      margin-bottom: 0rem;
    }
  }

  &__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
    margin-top: 32px;
    padding: 0 9rem;

    @include responsive.respond(smallPhone) {
      padding: 2rem;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 0rem;
      gap: 1.5rem;
    }

    @include responsive.respond(phone) {
      padding: 2rem;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 0rem;
    }

    @include responsive.respond(tablets) {
      padding: 2rem;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 0rem;
    }

    &__text {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 16px;

      @include responsive.respond(smallPhone) {
        gap: 0.5rem;
      }

      &__subtitle {
        color: #0c9451;
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 12px;
        display: block;

        @include responsive.respond(smallPhone) {
          font-size: 0.8rem;
          margin-bottom: 0rem;
        }
      }

      h2 {
        color: #000;
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.56px;

        @include responsive.respond(smallPhone) {
          font-size: 1.2rem;
        }
      }

      p {
        color: #000;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 135%; /* 24.3px */
        opacity: 0.7;

        @include responsive.respond(smallPhone) {
          font-size: 0.8rem;
        }
      }
    }

    &__image {
      flex: 1;
      display: flex;
      justify-content: flex-end;

      @include responsive.respond(smallPhone) {
        justify-content: center;
      }

      @include responsive.respond(phone) {
        justify-content: center;
        // flex: 0;
      }

      @include responsive.respond(tablets) {
        justify-content: center;
      }

      img {
        max-width: 450px;
        width: 100%;
        height: 450px;
        object-fit: cover;
        box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);

        @include responsive.respond(smallPhone) {
          max-width: 600px;
          width: 100%;
          height: 400px;
        }
      }
    }
  }

  &__highlight {
    padding: 4rem 9rem;
    margin-top: 32px;
    text-align: center;
    margin: 2rem 0 2.5rem 0;
    font-size: 1.15rem;
    line-height: 1.5;

    @include responsive.respond(smallPhone) {
      padding: 0 2rem;
      margin: 0;
      margin-top: 0;
    }

    @include responsive.respond(phone) {
      padding: 2rem;
    }

    @include responsive.respond(tablets) {
      padding: 2rem;
    }

    p {
      color: #000;
      text-align: center;
      font-family: Inter;
      font-size: 28px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%; /* 39.2px */

      @include responsive.respond(smallPhone) {
        font-size: 1.1rem;
      }

      span {
        background: linear-gradient(91deg, #0e5c36 27.99%, #28a668 56.4%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: Inter;
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;

        @include responsive.respond(smallPhone) {
          font-size: 1.2rem;
        }
      }
    }
  }

  &__imgBanner {
    padding: 0rem 0rem;
    margin-top: 32px;
    text-align: center;
    // margin: 2rem 0 2.5rem 0;

    img {
      width: 100%;
      height: 90vh;
      object-fit: cover;

      @include responsive.respond(smallPhone) {
        height: 40vh;
      }

      @include responsive.respond(phone) {
        height: 40vh;
      }

      @include responsive.respond(tablets) {
        height: 40vh;
      }
    }
  }

  &__connect {
    padding: 5rem 9rem;
    text-align: center;
    background: linear-gradient(120deg, #0b8a5f 0%, #13784d 100%);
    margin-top: -4px;

    @include responsive.respond(smallPhone) {
      padding: 2rem;
    }

    @include responsive.respond(phone) {
      padding: 2rem;
    }

    @include responsive.respond(tablets) {
      padding: 2rem;
    }

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      h2 {
        color: #fff;
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.64px;
      }

      p {
        color: #fff;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: -0.32px;
        opacity: 0.8;
      }

      a {
        display: flex;
        padding: 10px 20px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 3px;
        width: 150px;
        background: #b48801;
        margin: 0rem auto;
        text-decoration: none;
        color: #fff;

        @include responsive.respond(smallPhone) {
          width: 120px;
        }
      }
    }
  }
}
