@use "../../base/responsive" as responsive;

.hero-slider {
  position: relative;
  width: 100%;
  height: 85vh;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

  @include responsive.respond(smallPhone) {
    height: 50vh;
  }
  @include responsive.respond(phone) {
    height: 50vh;
  }

  @include responsive.respond(tablets) {
    height: 50vh;
  }

  @include responsive.respond(bigTablets) {
    height: 70vh;
  }

  &__track {
    display: flex;
    height: 100%;
    transition: transform 0.8s ease-in-out;
  }

  &__slide {
    flex: 0 0 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
